@import url(../../styles/variables.css);


.services {
    height: auto;
    margin-bottom: 3rem;
}

.services p {
    color: var(--cinzaClaro);
    margin-top: 1rem;
    text-align: justify;
    font-style: italic;
}

label {
    text-transform: uppercase;
}

.icon {
    color: var(--amarelo);
}
