.header {
    height: 10vh;
    box-shadow: 4px 4px 18px rgba(0, 0, 0, 0.496);
    display: flex;
    padding: 1rem;
    align-items: center;
    width: 100%;
    position: sticky -webkit-sticky;
    top: 0;
    z-index: 99;
    background-color: var(--cinza);
}
.menu-mobile {
    display: none;
}
.header .nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .ul {
    margin: 0;
    display: flex;
}

.header .ul .border-pink {
    margin-right: .6rem;
    transition: .5s ease;
    border-bottom: 3px solid transparent;
}

.header .ul .border-pink:hover {
    border-bottom: 3px solid var(--rosa);
}


.header .ul li a {
    text-decoration: none;
    color: var(--branco);
    font-weight: 500;
}

.logo {
    border-radius: 50%;
    filter: invert(100%);
}

.btn-cta {
    background-color: var(--cinza);
    opacity: .8;
    transform: translateX(-10px);
    box-shadow: 0px 0px 12px black;
    transition: .5s ease;
    overflow: hidden;
}
.btn-cta .wpp {
    transform: translateY(25px);
    transition: .5s ease;
}
.btn-cta:hover .wpp {
    transform: translate(0);
}

.social{
    transition: .5s ease;
    opacity: .3;
}
.social:hover {
    transform: translateY(-10px);
    opacity: 1;
}