@import url(variables.css);
@media(max-width: 768px) {
    .menu-mobile {
        display: block!important;
        position: fixed;
        top: 1rem;
        right: 1rem;
        z-index: 999;
    }
    .home-page {
        height: 100vh!important;
        clip-path: polygon(0 0, 26% 0, 68% 0, 100% 0, 100% 19%, 100% 90%, 100% 88%, 0 73%, 0 0, 0 0)!important;
    }
    .home-page__texts{
        display: flex;
        flex-wrap: wrap;
    }
    .home-page__texts h1 {
        font-size: 2rem!important;
        text-align: center;
        width: 10%;
    }
    .header .nav {
        flex-direction: column;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .header {
        height: 100vh!important;
        transform: translateX(-800px);
        transition: .5s ease;
        position: fixed;
        background-color: var(--branco)!important;
        width: 50vw!important;
    }
    .header.menuOpen{
        transform: translateX(0px);
    }
    .header .ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header .btn-cta{
        margin-top: 1rem!important;
        color: #fff!important;
    }
    .svg-area{
        position: absolute!important;
        height: 0!important;
    }
    .slick-next:before{
        display: none!important;
    }
    .slider-content {
        margin-top: -5rem!important;
        text-align: center;
        clip-path: polygon(0 0, 26% 0, 68% 0, 100% 0, 100% 19%, 100% 90%, 100% 88%, 0 73%, 0 0, 0 0)!important;

        height: auto!important;

    }
    .slider-content .slider-h3 {
        width: 100%!important;
        color: var(--branco);
        
    }
    
}
@media(max-width: 520px){
    .header {
        width: 80vw!important;
    }
    .home-page{
        clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 45%, 0% 0%)!important;
    }
    .slider-content{
        clip-path: polygon(71% 0, 100% 0, 100% 19%, 100% 39%, 100% 44%, 100% 87%, 52% 100%, 0 87%, 0 0, 37% 0)!important;
    }
}