:root {
    /* CORES */
    --branco: #fff;
    --azul: #001AFF;
    --azulClaro: #4C99D4;
    --cinzaTexto: #949494;
    --bgColor : #F1F1F1;


    /* FONTES */
    --fontePadrao: 'MuseoModerno', cursive;
    --fontePrincipal: 'Poppins', sans-serif;
    --fonteSecundaria: 'Raleway', sans-serif;


}