@import url(../../styles/variables.css);
.carousel-indicators [data-bs-target] {
    width: 18px!important;
    height: 18px!important;
    border-radius: 50%!important;
}

.home-page{
    height: 92vh;
    width: auto;
    background: linear-gradient(to bottom, red, orange);
    object-fit: cover;
    display: flex;
    align-items: center;
    clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 85%, 79% 97%, 63% 80%, 28% 96%, 0 85%, 0% 35%, 0 0);
}
.home-page__texts {
    font-family: var(--fontePadrao);
}
.home-page__texts h1 {
    color: var(--branco);
    width: 580px;
    font-size: 4rem;
    word-wrap: break-word;
    font-weight: bold;

}
